<div class="banner">
    <a href="http://www.avivasign.com/20161102/" target="_blank"><img src="__HOME_IMG__/201611030256fj68pm.jpg" width="100%" /></a>	<span><em><img src="__HOME__IMG__/mouse.png" /></em><i>scroll</i></span>
</div>

<div class="box">
    <div class="indexTitle">
        <span><img src="__HOME_IMG__/index_01.jpg" /></span>
        <p><a href="index.php?list-28.html">CRASTAL女王</a>|<a href="index.php?list-29.html">复古萝莉</a>|<a href="index.php?list-30.html">韩式系列</a>|<a href="index.php?list-31.html">花漾系列</a>|<a href="index.php?list-32.html">洛可可系列</a>|<a href="index.php?list-33.html">中国风系列</a>|<a href="index.php?list-34.html">欧美复古系列</a></p>
    </div>

    <div class="hotWorks">
        <ul>
            <li>
                <a href="index.php?list-34.html">
                    <img src="__HOME_IMG__/290560_201604221639079hdr.jpg" width="290" height="560" />
                    <span class="w_01"><em><img src="__HOME_IMG__/w_34.png" /></em><i><img src="__HOME_IMG__/sy_01.png" /></i></span>
                    <span class="w_02"></span>
                    <span class="w_03"><em><img src="__HOME_IMG__/sy_02.png" /></em><i></i></span>
                </a>
            </li>

            <li>
                <a href="index.php?list-33.html">
                    <img src="__HOME_IMG__/290560_201604221627160cdc.jpg" width="290" height="560" />
                    <span class="w_01"><em><img src="__HOME_IMG__/w_33.png" /></em><i><img src="__HOME_IMG__/sy_01.png" /></i></span>
                    <span class="w_02"></span>
                    <span class="w_03"><em><img src="__HOME_IMG__/sy_02.png" /></em><i></i></span>
                </a>
            </li>

            <li>
                <a href="index.php?list-32.html">
                    <img src="__HOME_IMG__/290560_201604221555in6o68.jpg" width="290" height="560" />
                    <span class="w_01"><em><img src="__HOME_IMG__/w_32.png" /></em><i><img src="__HOME_IMG__/sy_01.png" /></i></span>
                    <span class="w_02"></span>
                    <span class="w_03"><em><img src="__HOME_IMG__/sy_02.png" /></em><i></i></span>
                </a>
            </li>

            <li>
                <a href="index.php?list-31.html">
                    <img src="__HOME_IMG__/290560_2016042215175go9p1.jpg" width="290" height="560" />
                    <span class="w_01"><em><img src="__HOME_IMG__/w_31.png" /></em><i><img src="__HOME_IMG__/sy_01.png" /></i></span>
                    <span class="w_02"></span>
                    <span class="w_03"><em><img src="__HOME_IMG__/sy_02.png" /></em><i></i></span>
                </a>
            </li>

            <li>
                <a href="index.php?list-30.html">
                    <img src="__HOME_IMG__/290560_201604221420oqsdpb.jpg" width="290" height="560" />
                    <span class="w_01"><em><img src="__HOME_IMG__/w_30.png" /></em><i><img src="__HOME_IMG__/sy_01.png" /></i></span>
                    <span class="w_02"></span>
                    <span class="w_03"><em><img src="__HOME_IMG__/sy_02.png" /></em><i></i></span>
                </a>
            </li>

            <li>
                <a href="index.php?list-29.html">
                    <img src="__HOME_IMG__/290560_2016042214023xwp6k.jpg" width="290" height="560" />
                    <span class="w_01"><em><img src="__HOME_IMG__/w_29.png" /></em><i><img src="__HOME_IMG__/sy_01.png" /></i></span>
                    <span class="w_02"></span>
                    <span class="w_03"><em><img src="__HOME_IMG__/sy_02.png" /></em><i></i></span>
                </a>
            </li>

            <li>
                <a href="index.php?list-28.html">
                    <img src="__HOME_IMG__/290560_201604211716pkzzwy.jpg" width="290" height="560" />
                    <span class="w_01"><em><img src="__HOME_IMG__/w_28.png" /></em><i><img src="__HOME_IMG__/sy_01.png" /></i></span>
                    <span class="w_02"></span>
                    <span class="w_03"><em><img src="__HOME_IMG__/sy_02.png" /></em><i></i></span>
                </a>
            </li>


            <li>
                <a href="index.php?list-28.html">
                    <img src="__HOME_IMG__/images_02.jpg" width="290" height="560" />
                    <ins>view all</ins>
                </a>
            </li>
        </ul>
    </div>
    <script>
        $(function(){
            var $cl = ['purple','light-blue','green','deep-blue','brown','red'];
            $(".hotWorks li").each(function(i){$(this).addClass($cl[Math.floor(Math.random()*6)]);});
        });
    </script>
    <div class="indexTxt">
        <p>avivasign is a registered trademark, avivasign website interface design and programming are applied for  national intellectual property rights and<br />
            copyrights. Shall not be reproduced without permission to copy, avivasign this reserves the right to institute legal proceedings.</p>
        <span>薇拉上善造型为注册商标，薇拉上善造型网站界面设计及程序设计均以申请国家知识产权及著作权。<br />未经允许不得转载抄袭，薇拉上善造型对此保留法律诉讼的权利。</span>
    </div>

</div>

<!-- <div class="ad_01"><a href="http://www.avivasign.com/20161102/"><img src="__HOME_IMG__/201611030256fj68pm.jpg" width="100%" /></a></div> -->

<div class="reviews">
    <h3>
        <img src="__HOME_IMG__/index_02.jpg" />
        <p><a href="index.php?list-11.html">大众点评好评</a>|<a href="index.php?list-12.html">微信好评</a>|<a href="index.php?list-13.html">微博好评</a></p>
        <span>上善至美，服务至诚</span>
        <small>We insist that,Each customer appreciation smile,<br />That is our brand.</small>
        <em><a href="index.php?list-2.html">read more</a></em>
    </h3>

    <ul>
        <li class="p_1">
            <a href="index.php?list-2.html" class="r_img"><img src="__HOME_IMG__/7575_201605231643j3b492.jpg" width="70" height="70" /><span></span></a>
            <dl>
                <dt>我很享受并且非常满意这次...~</dt>
                <dd>我很享受并且非常满意这次造型~</dd>
            </dl>
        </li>

        <li class="p_2">
            <a href="index.php?list-2.html" class="r_img"><img src="__HOME_IMG__/7575_2016052316429m3649.jpg" width="70" height="70" /><span></span></a>
            <dl>
                <dt>结婚就来这里啦！~</dt>
                <dd>结婚就来这里啦！</dd>
            </dl>
        </li>

        <li class="p_3">
            <a href="index.php?list-2.html" class="r_img"><img src="__HOME_IMG__/7575_201605231641dy82nz.jpg" width="70" height="70" /><span></span></a>
            <dl>
                <dt>婚礼当天的跟妆终于定下了...~</dt>
                <dd>婚礼当天的跟妆终于定下了！</dd>
            </dl>
        </li>

        <li class="p_4">
            <a href="index.php?list-2.html" class="r_img"><img src="__HOME_IMG__/7575_20160523164069nlnn.jpg" width="70" height="70" /><span></span></a>
            <dl>
                <dt>服务非常到位，32个赞完全...~</dt>
                <dd>服务非常到位，32个赞完全不够</dd>
            </dl>
        </li>

        <li class="p_5">
            <a href="index.php?list-2.html" class="r_img"><img src="__HOME_IMG__/7575_20160523163679xvyc.jpg" width="70" height="70" /><span></span></a>
            <dl>
                <dt>喜欢的不得了，超级满意~</dt>
                <dd>喜欢的不得了，超级满意</dd>
            </dl>
        </li>

        <li class="p_6">
            <a href="index.php?list-2.html" class="r_img"><img src="__HOME_IMG__/7575_2016052316346hxqfv.jpg" width="70" height="70" /><span></span></a>
            <dl>
                <dt>自己及老公都很满意~</dt>
                <dd>自己及老公都很满意</dd>
            </dl>
        </li>

        <li class="p_7">
            <a href="index.php?list-2.html" class="r_img"><img src="__HOME_IMG__/7575_201605231631srikya.jpg" width="70" height="70" /><span></span></a>
            <dl>
                <dt>超级喜欢！~</dt>
                <dd>超级喜欢！</dd>
            </dl>
        </li>

        <li class="p_8">
            <a href="index.php?list-2.html" class="r_img"><img src="__HOME_IMG__/7575_201605231629tx8qud.jpg" width="70" height="70" /><span></span></a>
            <dl>
                <dt>真的超满意的，各种造型都...~</dt>
                <dd>真的超满意的，各种造型都很精致！</dd>
            </dl>
        </li>

        <li class="p_9">
            <a href="index.php?list-2.html" class="r_img"><img src="__HOME_IMG__/7575_2016052316282fkzuy.jpg" width="70" height="70" /><span></span></a>
            <dl>
                <dt>一百个赞，选择就在上善！...~</dt>
                <dd>一百个赞，选择就在上善！</dd>
            </dl>
        </li>

        <li class="p_10">
            <a href="index.php?list-2.html" class="r_img"><img src="__HOME_IMG__/7575_201605231627dzt3vr.png" width="70" height="70" /><span></span></a>
            <dl>
                <dt>婚纱也太棒了，全身施华洛...~</dt>
                <dd>婚纱也太棒了，全身施华洛世奇水晶镶嵌，太美</dd>
            </dl>
        </li>

        <li class="p_11">
            <a href="index.php?list-2.html" class="r_img"><img src="__HOME_IMG__/7575_2016052316101jdrxy.jpg" width="70" height="70" /><span></span></a>
            <dl>
                <dt>我二十几年来这么美！~</dt>
                <dd>我二十几年来这么美！超级精致妆容！</dd>
            </dl>
        </li>

        <li class="p_12">
            <a href="index.php?list-2.html" class="r_img"><img src="__HOME_IMG__/7575_20160523160970314k.jpg" width="70" height="70" /><span></span></a>
            <dl>
                <dt>朋友们都被惊到了，都说非...~</dt>
                <dd>朋友们都被惊到了，都说非常美</dd>
            </dl>
        </li>


    </ul>
</div>

<div class="box">
    <div class="indexTitle">
        <span><img src="__HOME_IMG__/index_03.jpg" /></span>
        <p><!--<a href="index.php?list-19.html">新闻动态</a>|--><a href="index.php?list-20.html">最新活动</a>|<a href="index.php?list-18.html">优惠活动</a></p>
    </div>

    <div class="indexNews">
        <ul>
            <li>
                <a href="index.php?read-576.html">
                    <img src="__HOME_IMG__/234180_201606280740762031.jpg" width="234" height="180" /><span>薇拉上善造型携手飞凌婚礼...</span>
                    <small><em class="n_1"></em><i>06月28日</i><em class="n_2"></em><i>171</i></small>
                    <cite>薇拉上善造型携手飞凌婚礼 群光广场7楼多功能厅静态秀6-20日至7-3日 </cite>
                    <ins><em>View more</em><i>查看更多</i></ins>
                </a>
            </li>

            <li>
                <a href="index.php?read-547.html">
                    <img src="__HOME_IMG__/sm_201605301716m1c813.jpg" width="234" height="180" /><span>#上善教育#薇拉上善造型 精...</span>
                    <small><em class="n_1"></em><i>05月30日</i><em class="n_2"></em><i>237</i></small>
                    <cite>#上善教育#薇拉上善造型 精英团队开启全国美妆巡讲第一站！ </cite>
                    <ins><em>View more</em><i>查看更多</i></ins>
                </a>
            </li>

            <li>
                <a href="index.php?read-11.html">
                    <img src="__HOME_IMG__/234180_201605301049d5dqoq.jpg" width="234" height="180" /><span>2015全国年度“金手指”美...</span>
                    <small><em class="n_1"></em><i>03月02日</i><em class="n_2"></em><i>164</i></small>
                    <cite>2015全国年度“金手指”美妆盛典！『薇拉上善』荣获【全国金牌化妆师团队奖】~ </cite>
                    <ins><em>View more</em><i>查看更多</i></ins>
                </a>
            </li>

            <li>
                <a href="index.php?read-4.html">
                    <img src="__HOME_IMG__/sm_2016031516261vm8vz.jpg" width="234" height="180" /><span>新娘护肤小窍门</span>
                    <small><em class="n_1"></em><i>03月02日</i><em class="n_2"></em><i>156</i></small>
                    <cite>薇拉上善造型，专注于婚礼当天新娘造型定制，10月中旬荣耀登场。9月5日开启试妆体验服务，敬请关注。 </cite>
                    <ins><em>View more</em><i>查看更多</i></ins>
                </a>
            </li>


        </ul>
    </div>

</div>