
<div class="banner">
    {Advert:list cateid="2" limit='2'}
    <a href="{$advert.url}" target="_blank">
        <img src="{:get_file_path($advert.src)}" width="100%" /></a>
    <span><em><img src="__HOME_IMG__/mouse.png" />
    </em><i>scroll</i>
    </span>
    {/Advert:list}
</div>
<div class="box">
    <div class="title_ny"><img src="__HOME_IMG__/kz_01.jpg" /></div>
    <div class="content">
        <div class="guest kepian">
            <ul>
                {volist name='photos' id='photo'}
                <li>
                    <a rel="{:get_file_path($photo['id'])}">
                        <img src="{:get_file_path($photo['src'])}" width="260" height="360" />
                        <span><em>{$photo.description}</em>
                            <i>{$photo.name}</i>
                        </span>
                    </a>
                </li>
                {/volist}
        </ul>
        </div>
    </div>
    <div class="pages">{$page}</div>

</div>
<script type="text/javascript" src="__HOME_JS__/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="__HOME_JS__/common.js"></script>
<script type="text/javascript" src="__HOME_JS__/cms.common.js"></script>
<script type="text/javascript" src="__HOME_JS__/jquery.waypoints.min.js"></script>