<link rel="stylesheet" href="__HOME_CSS__/anchor.css">
<main id="main">
    <div class="wrapper">
        <div class="play-info">
            <div class="title">
                <h2 class="real-title alllive">
                    <span>视频分享</span>
                </h2>
            </div>
            <div class="titlebotborder">
                <div class="border1"></div>
                <div class="border2"></div>
            </div>
        </div>
        <div class="play-list clearfix">
            <ul class="clearfix">
                {volist name='vedios' id='vedio'}
                <li>
                    <a class="play-list-link" href="{:url('vedio/details',['id'=>$vedio['id']])}" title="{$vedio.name}">
                        <div class="imgbox">
                            <b class="play-btn"></b>
                            <img src="{$vedio.img}">
                        </div>
                        <div class="mes">
                            <div class="mes-tit">
                                <h3 class="ellipsis">
                                    <img class="room-list-icon" src="https://staticlive.douyucdn.cn/upload/rank_icon_setting/2a9227ed0a9fc6ce344b5b805eb3b5cd.png">{$vedio.name}</h3>
                                <span class="tag ellipsis">{$vedio.name}</span>
                            </div>
                            <p>
                                <span class="dy-name ellipsis fl">{$vedio.nickname}</span>
                                <span class="dy-num fr">{$vedio.click_num}</span>
                            </p>
                        </div>
                    </a>
                </li>
                {/volist}
            </ul>
        </div>
        <!-- 公共分页样式 -->
        <div class="bigPage">
            {$page}
    </div>
</main>

