<link rel="stylesheet" href="__HOME_CSS__/news.css">
<main id="main">
    <div class="wrapper">
        <div class="js-tabs">
            <div class="nav_tit tab-nav">
                <ul>
                    <li class="{eq name='Request.param.news_cat_id' value=''}current{/eq}"><a href="{:url('news/index')}">全部</a></li>
                    {volist name='new_cats' id='new_cat'}
                    <li class="{eq name='Request.param.news_cat_id' value='$new_cat.id'}current{/eq}"><a href="{:url('news/index',['news_cat_id'=>$new_cat['id']])}">{$new_cat.name}</a></li>
                     {/volist}
                </ul>
            </div>
            <div class="news_list">
                <ul class="tab" style="display: block;">
                    {volist name='news_items' id='new_item'}
                    <li>
                        <p>
                            <a class="news_tit" href="{:url('news/details',['id'=>$new_item['id']])}">{$new_item['title']}</a>
                            <span class="news_data">{$new_item.create_time|date='Y-m-d',###}</span>
                        </p>
                        <p>
                            <span class="news_art">{$new_item.description}</span>
                            <a href="#">[详情]</a>
                        </p>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
        <!-- 公共分页样式 -->
        <div class="bigPage">
            {$page}
    </div>
</main>