<link rel="stylesheet" href="__HOME_CSS__/new-detail.css">
<link rel="stylesheet" href="__HOME_CSS__/center-new.css">
<main id="main">
    <div class="wrapper">
        <div class="dynamic-detalis">
            <div class="dynamic-detalis-content">
                <h2>{$newsInfo['title']}</h2>
                <label>点击数：<span>{$newsInfo['view']} </span>来源：<span><a href="javascript:void (0)">{$newsInfo['username']}</a></span>发布时间：<span class="last">{$newsInfo['create_time']|date='Y-m-d H:i:s',###}</span></label>
                {$newsInfo['content']}
            </div>


            <div class="reward-btn">
                <div class="reward">赏</div>
            </div>
        </div>
        <style>
            .reward-btn {
                margin-top: 40px;
                padding-top:30px;
                border-top: 1px solid #d7d7d7;
            }
            .reward-btn .reward {
                display: block;
                margin: 10px auto;
                width: 88px;
                height:88px;
                border-radius: 50%;
                border: 1px solid #eee;
                background: #fff;
                text-align: center;
                line-height: 86px;
                font-size: 48px;
                font-family: '幼圆';
                color: #f70;
                font-weight: 700;
                cursor: pointer;
            }
            .reward-btn .reward:hover {
                background: #f70;
                color: #fff;
            }
        </style>
        <div class="sent-news clearfix">

            <textarea placeholder="请输入内容" class="eva-txt"></textarea>
            <p class="eva-txt-left">还可以输入<span>140</span>个字</p>
            <a id="send" class="btn fr">评 论</a>
        </div>
        <div class="news-wrap comment-wrap">
            <h3>评论列表</h3>
            <ul class="list" id="pinglun">
                {volist name="pinglun" id="p"}
                <li class="item">
                    <a href="javascript:void(0)" class="img-box fl"><img src="{$p.head_logo}" alt=""></a>
                    <div class="item-body">
                        <a href="javascript:void(0)" class="name">{$p.nickname}</a>
                        <div class="time">{$p.w_time|date="Y-m-d H:i:s",###}</div>
                        <div class="text">{$p.val}</div>
                    </div>
                </li>
                {/volist}
            </ul>
        </div>
        {$page}
    </div>
</main>
<script>
    var txtLimit = 140;
    $('.eva-txt').keyup(function(){
        var txtLength = $(this).val().length;
        if(txtLength > txtLimit){
            $(this).val($(this).val().substr(0,140));
            error_tip('最多可输入'+txtLimit+'个字！');
            return;
        }
        $(this).next().find('span').html(txtLimit-txtLength);
    });
    $("#send").click(function () {
        if(!isLogin()) {
            openLogin();
        }else {
            var commets = $("textarea").val();
            var newsid = "{$newsInfo.id}";
            $.post("{:url('index/usercomment')}", {newsid: newsid, comments: commets}, function (res) {
                if (res.code == 2) {
                    error_tip(res.msg);
                    setTimeout(function () {
                        openLogin();
                    }, 1000);
                    return;
                }
                if (res.code == 1) {
                    success_tip('评论成功');
                    var html = "<li class='item'>";
                    html += "<a href='javascript:void(0)' class='img-box fl'><img src='" + head_logo + "'></a>"
                    html += "<div class='item-body'><a href='javascript:void(0)' class='name'>" + nickname + "</a> <div class='time'>" +  res.msg + "</div> <div class='text'>" + commets + "</div> </div>";
                    html += "</li>";
                    $("#pinglun").prepend(html);
                    $("textarea").val('');
                    return;
                }
                if (res.code == 0) {
                    error_tip(res.msg);
                    return;
                }

            }, 'json')
        }
    });
    $(".reward").click(function () {
        if(!isLogin()) {
            openLogin();
        }else{
            var newid="{$newsInfo['id']}";
            layer.prompt({
                formType: 0, //输入框类型，支持0（文本）默认1（密码）2（多行文本）
                value: '', //初始时的值，默认空字符
                maxlength: 140, //可输入文本的最大长度，默认500
                title:'请输入充值金额',
            }, function(value, index,elm){
                if(isNaN(value)){
                    error_tip('请输入正确的金额');
                    return;
                }
                $.get("{:url('index/reward')}",{newid:newid,num:value},function (res) {
                    if (res.code == 2) {
                        error_tip(res.msg);
                        setTimeout(function () {
                            openLogin();
                        }, 1000);
                        return;
                    }
                    if (res.code == 0) {
                        error_tip(res.msg);
                        return;
                    }
                    if (res.code == 1) {
                        success_tip(res.msg);
                        layer.close(index);
                    }
                },'json');
            });
        }
    });
</script>