<div class="footer">
    <div class="left">
        <h3><a href="http://www.avivasign.com"><img src="{:get_file_path(config('web_site_logo'))}" /></a></h3>
       {:CONF('contact')}
    </div>

    <div class="right">
        <dl>
            <dt><a href="index.php?list-28.html">our work</a></dt>

            <dd><a href="index.php?list-28.html">造型大赏</a></dd>


            <dd><a href="index.php?list-7.html">最新样片大赏</a></dd>


            <dd><a href="index.php?list-8.html">最新客照</a></dd>


            <dd><a href="index.php?list-9.html">幸福瞬间</a></dd>

        </dl>

        <dl>
            <dt><a href="index.php?list-2.html">Reviews</a></dt>

            <dd><a href="index.php?list-11.html">大众点评好评</a></dd>


            <dd><a href="index.php?list-12.html">微博好评</a></dd>


            <dd><a href="index.php?list-13.html">微信好评</a></dd>

        </dl>

        <dl>
            <dt><a href="index.php?edu.html">education</a></dt>

            <dd><a href="index.php?edu.html">上善EDU</a></dd>


            <dd><a href="http://www10.53kf.com/webCompany.php?arg=10090565&amp;style=1">如何加入上善教育</a></dd>

        </dl>

        <dl>
            <dt><a href="index.php?list-17.html">news</a></dt>

            <dd><a href="index.php?list-17.html">新闻活动</a></dd>


            <dd><a href="index.php?list-18.html">最新优惠活动</a></dd>


            <dd><a href="index.php?list-20.html">最新活动</a></dd>

        </dl>

        <dl>
            <dt><a href="index.php?about.html">Brand</a></dt>

            <dd><a href="index.php?about.html">上善品牌</a></dd>


            <dd><a href="index.php?contact.html">联系我们</a></dd>

        </dl>


    </div>
</div>

<div class="line">
    <div class="copyright">
        <dl>
            <dt>
            <p>{:config('web_site_icp')}<a href="javascript:void (0);" target="_blank">{:config('web_site_title')}</a>
                <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1259574412'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1259574412%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
            </p>
            <span>{:config('web_site_icp')}</span>
            </dt>
            <dd>
                <span><a href="http://wpa.qq.com/msgrd?v=3&uin=2807683724&site=qq&menu=yes" class="qq" target="_blank"></a></span>
                <span><a href="http://weibo.com/u/3347562360" class="wb" target="_blank"><i><img src="__HOME_IMG__/ewm1.jpg" /></i></a></span>
                <span><a href="javascript:;" class="wx"></a><i><img src="__HOME_IMG__/ewm.jpg" /></i></span>
            </dd>
        </dl>
    </div>
</div>
<!-- end -->
</body>
</html>