<!-- 侧漂 -->
<div class="floatobj">
    <div class="piaofu">
        <a class="pf1" href="index.php?join.html" target="_blank"></a>
        <a class="pf2" href="index.php?edu.html" target="_blank"></a>
        <a class="pf3" href="http://www10.53kf.com/webCompany.php?arg=10090565&style=1" target="_blank"></a>
        <a class="pf4" href="http://weibo.com/u/3347562360" target="_blank"></a>
        <a class="pf5" href="javascript:;"></a>
    </div>
</div>
<div class="black">
    <div class="logo"><a href="http://www.avivasign.com"><img src="{:get_file_path(config('web_site_logo'))}" /></a></div>
</div>
<div class="top_bg">
    <div class="nav">
        <ul>
            {volist name='allmenu' id='menu'}
            <li><a href="{$menu['url']}" class="menu" target="_blank"><p class="title">{$menu.title}</p><ins></ins></a>
                {notempty name='menu.child'}
                <dl>
                    {volist name="menu.child" id='child'}
                    <dd>
                        <p><a href="{$child.url}">{$child.title}</a></p>
                    </dd>
                    {/volist}
                </dl>
                {/notempty}
            </li>
            {/volist}
        </ul>
    </div>
</div>