<!-- 侧漂 -->
<div class="floatobj">
    <div class="piaofu">
        <a class="pf1" href="index.php?join.html" target="_blank"></a>
        <a class="pf2" href="index.php?edu.html" target="_blank"></a>
        <a class="pf3" href="http://www10.53kf.com/webCompany.php?arg=10090565&style=1" target="_blank"></a>
        <a class="pf4" href="http://weibo.com/u/3347562360" target="_blank"></a>
        <a class="pf5" href="javascript:;"></a>
    </div>
</div>
<div class="black">
    <div class="logo"><a href="http://www.avivasign.com"><img src="__HOME_IMG__/logo.png" /></a></div>
</div>
<div class="top_bg">
    <div class="nav">
        <ul>
            <li><a href="index.php?list-28.html" class="menu" target="_blank"><img src="__HOME_IMG__/nav_01.png" /><ins></ins></a></li>
            <li><a href="index.php?list-8.html" class="menu" target="_blank"><img src="__HOME_IMG__/nav_02.png" /><ins></ins></a></li>
            <li><a href="index.php?list-2.html" class="menu" target="_blank"><img src="__HOME_IMG__/nav_03.png" /><ins></ins></a>
                <dl>
                    <dd>
                        <p><a href="index.php?list-11.html">大众点评好评</a></p>

                        <p><a href="index.php?list-12.html">微博好评</a></p>

                        <p><a href="index.php?list-13.html">微信好评</a></p>

                    </dd>
                </dl>
            </li>
            <li><a href="index.php?edu.html" target="_blank" class="menu"><img src="__HOME_IMG__/nav_04.png" /><ins></ins></a></li>
            <li><a href="index.php?join.html" target="_blank" class="menu"><img src="__HOME_IMG__/nav_05.png" /><ins></ins></a></li>
            <li>
                <a href="index.php?list-17.html" class="menu" target="_blank"><img src="__HOME_IMG__/nav_06.png" /><ins></ins></a>
                <dl>
                    <dd>
                        <p><a href="index.php?list-17.html" >新闻活动</a></p>

                        <p><a href="index.php?list-18.html" >最新优惠活动</a></p>

                        <p><a href="index.php?list-20.html" >最新活动</a></p>

                    </dd>
                </dl>
            </li>
            <li>
                <a href="index.php?about.html" class="menu" target="_blank"><img src="__HOME_IMG__/nav_07.png" /><ins></ins></a>
                <dl>
                    <dd>
                        <p><a href="index.php?about.html">上善品牌</a></p>
                        <p><a href="index.php?contact.html">联系我们</a></p>
                        <span><a href="index.php?contact.html">汉口店</a><a href="index.php?contact.html">光谷店</a></span>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>